#container{
	position: fixed;
	left: 0;
	top: 0;
	width: 325px;
	height: 325px;
	border-style: solid;
	boder-color: black;
	border-width: 2px;
}

#reddiv{
	position: relative;
	left: 0px;
	top: 0px;
	width: 10px;
	height: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: red;
}

#greendiv{
	position: relative;
	left: 0px;
	top: -12px;
	width: 10px;
	height: 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: green;
}

#buttonTest1{
	position: relative;
	left: 25px;
	top: 325px;
}

#buttonTest2{
	position: relative;
	left: 25px;
	top: 325px;
}